<div id="steps">
  <!--TODO: Make step arrows better-->
  <div class="container-fluid">
    <div class="block-title">
      <h2>{{ title }}</h2>
    </div>
    <div class="wrapper d-flex align-items-center">
      <p>{{ description }}</p>
      <ul class="step-list row mx-0">
        {% for banner in banners %}
          <li class="col-3">
            <div class="step">
              <div class="image-container">
                <img alt="" src="{{ banner.image_original }}">
              </div>
              <h5>{{ banner.title }}</h5>
              <p class="step-text">{{ banner.description }}</p>
            </div>
          </li>

        {% endfor %}
      </ul>
    </div>
  </div>
</div>