{{ header }}
<main class="news-bg">
    <div class="container-fluid">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if loop.first %}
                    <li><a href="{{ breadcrumb.href }}"><img alt="Home"
                                                             src="catalog/view/theme/simplex/assets/img/home.svg"></a>
                    </li>
                {% elseif loop.last %}
                    <li>{{ breadcrumb.text }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="page-title" id="news-title">
            <h1>{{ heading_title }}</h1>
        </div>
        <div class="news-wrapper wrapper">
            {% set first=informations|first %}
            <div class="newest">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">
                            <a href="{{ first.href }}">{{ first.title }}</a>
                        </div>
                        <span class="card-foot">{{ first.date_added }}</span>
                    </div>
                    <a href="{{ first.href }}"><img alt="Newest" class="card-img-top" src="{{ first.thumb }}"></a>
                </div>
            </div>
            <div class="news">
                <div class="news-grid load_more_container">
                    {% for information in informations %}
                        {% if not loop.first %}
                            <div class="item">
                                <div class="card">
                                    <a href="{{ information.href }}">
                                        <img alt="New 1" class="card-img-top" src="{{ information.thumb }}">
                                        <div class="card-body">
                                            <div class="card-text">
                                                {{ information.title }}
                                            </div>
                                            <span class="card-foot">{{ information.date_added }}</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="pager">
                    {% if show_load_more_button %}
                        <div class="show-more">
                            <button id="show-more-button" data-limit="{{ limit }}" data-start="{{ start }}"
                                    type="button">
                                <span class="image-container"></span>
                                <p>{{ text_show_more }} {{ limit }} noutați</p>
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>

            <aside>{{ column_right }}</aside>
        </div>

    </div>
</main>
<script>

    $("#show-more-button").click(function () {
        var start = $("#show-more-button").data('start');
        var limit = $("#show-more-button").data('limit');

        var url = new URL(window.location.href);
        var query_string = url.search;


        var search_params = new URLSearchParams(query_string);

        search_params.set('start', start);
        search_params.set('limit', limit);
        search_params.set('route', 'information/category/load_more');
        url.search = search_params.toString();

        var ajax_url = url.toString();
        ;
        $.ajax({
            url: ajax_url,
            dataType: "json",
            success: function (data) {
                $(".load_more_container").append(data.items);
                $("#show-more-button").data("start", data.start);
                if (data.displayed_all) {
                    $("#show-more-button").hide();
                }
            }
        });

    });

</script>

{{ content_bottom }}
{{ footer }} 
