{{ header }}
<main class="gallery-bg">
    <div class="container-fluid">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ul>
        <div class="page-title" >
            <h1>{{ heading_title }}</h1>
        </div>
        <div class="projects-wrapper wrapper">
            <div class="projects">
                <div class="projects-grid load_more_container">
                    {% for information in informations %}
                    <div class="item">
                        <div class="image" style="height: 100%">
                            <img alt="{{ information.title }}" src="{{ information.thumb }}">
                        </div>
                        <div class="overlay">
                            <div class="city">
                                {{ information.description }}
                            </div>
                            <a href="{{ information.href }}">
                            <div class="title">
                                {{ information.title }}
                            </div>
                            </a>
                            <hr>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div id="pager">
                    {% if show_load_more_button %}
                        <div class="show-more">
                            <button id="show-more-button" data-limit="{{ limit }}" data-start="{{ start }}" type="button">
                                <span class="image-container"></span>
                                <p>Arată încă {{ limit }} noutați</p>
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
            <aside>{{ column_right }}</aside>
        </div>

    </div>
</main>
<script>

    $("#show-more-button").click(function () {
        var start = $("#show-more-button").data('start');
        var limit = $("#show-more-button").data('limit');

        var url = new URL(window.location.href);
        var query_string = url.search;


        var search_params = new URLSearchParams(query_string);

        search_params.set('start', start );
        search_params.set('limit', limit );
        search_params.set('route','information/category/load_more');
        url.search = search_params.toString();

        var ajax_url =url.toString();;
        $.ajax({
            url: ajax_url,
            dataType: "json",
            success: function (data) {
                $(".load_more_container").append(data.items);
                $("#show-more-button").data("start",data.start);
                if(data.displayed_all){
                    $("#show-more-button").hide();
                }
            }
        });

    });

</script>
{{ content_bottom }}
{{ footer }} 
