{{ header }}
<div id="product-category" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      {% if loop.first %}
        <li><a href="{{ breadcrumb.href }}"><img alt="Home"
                                                 src="catalog/view/theme/simplex/assets/img/home.svg"></a>
        </li>
      {% elseif loop.last %}
        <li>{{ breadcrumb.text }}</li>
      {% else %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>



</div>
{{ content_bottom }}
{{ footer }} 
