{{ header }}
<main class="contacts-bg">
  <div class="container-fluid">
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        {% if loop.first %}
          <li><a href="{{ breadcrumb.href }}"><img alt="Home" src="/catalog/view/theme/simplex/assets/img/home.svg"></a>
          </li>
        {% elseif loop.last %}
          <li>{{ breadcrumb.text }}</li>
        {% else %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <div class="page-title centered">
      <h1>{{ heading_title }}</h1>
      <hr>
    </div>
    {% if errors %}
      <div class="alert alert-danger alert-dismissible"><i
                class="fa fa-exclamation-circle">{{ error_message }}</i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">
          <svg height="14px" width="18px" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.877,10.113 L2.076,1.000 " fill="none" fill-rule="evenodd"
                  stroke="rgb(178, 181, 182)" stroke-linecap="butt" stroke-linejoin="miter"
                  stroke-width="2px"></path>
            <path d="M2.076,10.113 L14.877,1.000 " fill="none" fill-rule="evenodd"
                  stroke="rgb(178, 181, 182)" stroke-linecap="butt" stroke-linejoin="miter"
                  stroke-width="2px"></path>
          </svg>
        </button>
      </div>
    {% endif %}
    <div class="item-container">
      <h4>
        {{ text_asteptam_in_magazinele }}
      </h4>
      <div id="contacts-buttons" style="max-width: 40rem">
        <a id="form-link" role="button" target="#contact-form">
          <svg viewBox="0 0 139 89" xmlns="http://www.w3.org/2000/svg">
            <path d="M99.854,6.359 C115.045,6.359 123.298,6.359 123.298,6.359 C127.314,6.359 130.570,9.567 130.570,13.525 L130.570,72.449 C130.570,76.406 127.314,79.614 123.298,79.614 L13.929,79.614 C9.913,79.614 6.657,76.406 6.657,72.449 L6.657,13.525 C6.657,9.567 9.913,6.359 13.929,6.359 C13.929,6.359 20.889,6.359 35.224,6.359 C43.627,6.359 90.699,6.359 99.854,6.359 Z"
                  fill="none" fill-rule="evenodd" stroke="#000"
                  stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="6px"></path>
            <path d="M7.118,11.940 C7.118,11.940 54.056,51.030 68.027,51.030 C81.997,51.030 130.609,12.222 130.609,12.222 "
                  fill="none" fill-rule="evenodd" stroke="#000"
                  stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="6px"></path>
            <path d="M7.377,75.326 L43.326,39.372 " fill="none" fill-rule="evenodd" stroke="#000"
                  stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="6px"></path>
            <path d="M130.639,75.326 L95.692,39.114 " fill="none" fill-rule="evenodd" stroke="#000"
                  stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="6px"></path>
          </svg>
          Trimite mesaj online
        </a>
        {% if footer_titles %}
          {% for footer_title in footer_titles %}
            {% if loop.index==2 %}
              {% if footer_title.sub_title %}
                {% for subtitle in footer_title.sub_title %}

                  <a target="_blank" href="{{ subtitle.link }}" style="text-transform: capitalize">
                    {% if subtitle.title=='facebook' %}
                      <svg width="9px" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.430,8.260 L2.430,14.699 L5.564,14.699 L5.564,8.290 L7.701,8.290 L8.220,5.619 L5.591,5.619 C5.591,5.619 5.591,4.360 5.591,3.655 C5.591,3.386 5.734,3.024 6.170,3.024 C6.848,3.024 7.695,3.024 7.695,3.024 L7.695,0.301 C7.695,0.301 6.317,0.301 4.847,0.301 C3.870,0.301 2.428,1.510 2.428,2.791 C2.428,4.117 2.428,5.540 2.428,5.540 L0.780,5.540 L0.780,8.246 L2.430,8.260 Z"
                              fill="#000"
                              fill-rule="evenodd"></path>
                      </svg>
                    {% endif %}
                    {% if subtitle.title=='Instagram' %}
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" fill="rgb(0, 0, 0)"
                              d="M14.190,0.000 L5.812,0.000 C2.604,0.002 0.004,2.602 0.000,5.810 L0.000,14.188 C0.003,17.396 2.602,19.996 5.810,20.000 L14.188,20.000 C17.396,19.997 19.996,17.398 20.000,14.190 L20.000,5.812 C19.998,2.604 17.398,0.004 14.190,0.000 ZM18.437,14.190 C18.435,16.535 16.535,18.435 14.190,18.437 L5.812,18.437 C3.467,18.435 1.567,16.535 1.565,14.190 L1.565,5.812 C1.567,3.467 3.467,1.567 5.812,1.565 L14.190,1.565 C16.535,1.567 18.435,3.467 18.437,5.812 L18.437,14.190 ZM10.000,4.609 C7.023,4.609 4.609,7.023 4.609,10.000 C4.609,12.977 7.023,15.391 10.000,15.391 C12.977,15.391 15.391,12.977 15.391,10.000 C15.388,7.024 12.976,4.613 10.000,4.609 ZM10.000,13.828 C7.886,13.828 6.172,12.114 6.172,10.000 C6.172,7.886 7.886,6.172 10.000,6.172 C12.114,6.172 13.828,7.886 13.828,10.000 L13.828,10.000 C13.826,12.113 12.113,13.826 10.000,13.828 ZM15.547,3.555 C16.065,3.555 16.485,3.974 16.485,4.492 C16.485,5.010 16.065,5.430 15.547,5.430 C15.029,5.430 14.609,5.010 14.609,4.492 L14.609,4.492 C14.609,3.975 15.028,3.555 15.546,3.555 C15.546,3.555 15.547,3.555 15.547,3.555 Z"/>
                      </svg> {{ ' ' }}
                    {% endif %}
                    {{ subtitle.title }}</a>
                {% endfor %}

              {% endif %}
            {% endif %}

          {% endfor %}
        {% endif %}
        {#<a href="#">
          <svg width="9px" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.430,8.260 L2.430,14.699 L5.564,14.699 L5.564,8.290 L7.701,8.290 L8.220,5.619 L5.591,5.619 C5.591,5.619 5.591,4.360 5.591,3.655 C5.591,3.386 5.734,3.024 6.170,3.024 C6.848,3.024 7.695,3.024 7.695,3.024 L7.695,0.301 C7.695,0.301 6.317,0.301 4.847,0.301 C3.870,0.301 2.428,1.510 2.428,2.791 C2.428,4.117 2.428,5.540 2.428,5.540 L0.780,5.540 L0.780,8.246 L2.430,8.260 Z"
                  fill="#000"
                  fill-rule="evenodd"></path>
          </svg>
          Facebook
        </a>#}
      </div>
      <div id="stores">
        {% for location in locations %}
          <div class="card">
            <a class="anchor-link" role="button" target="#location-{{ location.location_id }}">
              <div class="image-container">
                <img src="{{ location.image }}" alt="{{ location.city }}">
              </div>
              <div class="card-body">
                <p>{{ location.city }} {{ location.district }}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
      <div id="locations">
        {% for location in locations %}
          <div id="location-{{ location.location_id }}" class="card">
            <div class="title">
              <div class="city">
                {{ location.city }}
              </div>
              <h3>{{ location.address }}</h3>
            </div>
            <div class="image-container">
              <iframe src="{{ location.geocode }}"
                      style="border:0"></iframe>
            </div>
            <div class="card-body">
              <h4>{{ text_address }}</h4>
              <p>{{ location.address }}, {{ location.city }}, {{ location.country }}</p>
              <h4>{{ text_telephone }}</h4>
              <h5>Fix</h5>
              <p>{{ location.telephone }}</p>
              <h5>{{ text_telephone_consilier_termo }}</h5>
              <p>{{ location.telephone1 }}</p>
              <h5>{{ text_telephone_consilier_obiecte }}</h5>
              <p>{{ location.telephone2 }}</p>
              <h4>{{ entry_email }}</h4>
              <p><a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
              <h4>{{ text_open }}</h4>
              <div class="open-cell"> {{ location.open }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div id="contact-form">
        <a class="close" role="button">
          <img alt="Close" src="/catalog/view/theme/simplex/assets/img/x.png">
        </a>
        <h3>{{ text_contact }}</h3>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="contact-form">
          <label class="required" for="name">{{ entry_name }}</label>
          <input id="name"
                 class="{{ errors and error_name?"has-error" }}"
                 name="name"
                 placeholder="{{ errors and error_name ? error_name }}"
                 value="{{ errors and error_name ? '' : name }}"
                 required
                 type="text">
          <label class="required" for="mail">{{ entry_email }}</label>
          <input id="mail"
                 name="email"
                 class="{{ errors and error_email ? "has-error" }}"
                 placeholder="{{ error_email }}"
                 value="{{ errors and error_email ? '' : email }}"
                 required
                 type="text">
          <label for="subject">{{ entry_subject }}</label>
          <input id="subject"
                 value="{{ subject }}"
                 name="subject"
                 type="text">
          <label class="required" for="message">{{ entry_enquiry }}</label>
          <textarea id="message"
                    placeholder="{{ errors and error_enquiry ? error_enquiry }}"
                    class="{{ errors and error_enquiry ? "has-error" }}"
                    name="enquiry"
                    rows="10"
                    id="input-enquiry"
                    required>{{ errors and error_enquiry ? '' : enquiry }}</textarea>
          <hr>
          <label for="file">{{ entry_file }}</label>
          <label class="upload">
            {{ text_browse_file }}...
            <input id="file"
                   name="file"
                   type="file">
          </label>
          <hr>
          <div class="submit">
            <button class="form-submit" type="submit" value="{{ button_submit }}">
              {{ button_submit }}
              <span class="image-container"></span>
            </button>
            <p><span style="color:#b73232">*</span> – {{ text_required_fields }}</p>
          </div>
        </form>
      </div>
    </div>
    <script type="text/javascript">
        $('.upload').on('click', function () {
            let node = this;
            $('#form-upload').remove();
            $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');
            $('#form-upload input[name=\'file\']').on('change', function () {
                $.ajax({
                    url: 'index.php?route=information/contact/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($(this).parent()[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(node).button('loading');
                    },
                    complete: function () {
                        $(node).button('reset');
                    },
                    success: function (json) {
                        $('.text-danger').remove();
                        if (json['error']) {
                            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                        }
                        if (json['success']) {
                            alert(json['success']);
                            $(node).parent().find('.success').html(json['file']);
                            $(node).parent().find('input').attr('value', json['file']);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            });
        });
    </script>
  </div>
</main>
<script>
    $(".open-cell table").attr('class', '').attr('style', '');
    $(".contact-form input, .contact-form textarea").on('input', function () {
        $(this).removeClass('has-error');
    })
</script>
{{ content_bottom }}
{{ footer }}
