{{ header }}
<main class="contacts-bg">
    <div class="container-fluid">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                    {% if loop.first %}
                        <li><a href="{{ breadcrumb.href }}"><img class="lazyload" alt="Home"
                                                                 data-src="/catalog/view/theme/simplex/assets/img/home.svg"></a>
                        </li>
                    {% elseif loop.last %}
                        <li>{{ breadcrumb.text }}</li>
                    {% else %}
                        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
        </ul>
        <div class="page-title centered">
            <h1>{{ heading_title }}</h1>
            <hr>
        </div>
        <div class="container-fluid">
            <div class="item-container job-item-container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="content">
                            {{ description }}
                            <button type="submit" class="popup" target="#contact-form">
                                {{ text_send_cv }}
                                <span class="image-container"></span>
                            </button>
                            <p>
                                {{ telefon_fax }}: <span style="font-weight: 800;">022 74 74 34</span>
                            </p>
                            <p style="color:#a4a4a4">
                                {{ interview_conditions }}.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5 offset-md-1 order-md-1">
                        <div class="main-image-container">
                            <img class="lazyload" alt="" data-src="{{ thumb }}">
                        </div>
                    </div>
                </div>
                <div class="share">
                    <div class="back">
                        <a href="{{ archive_link }}">{{ text_archive_link }}</a>
                    </div>
                    <div class="social">
                        <p>{{ share_information }}:</p>
                        <script data-src="/catalog/view/javascript/share2/es5-shims.min.js"></script>
                        <script data-src="/catalog/view/javascript/share2/share.js"></script>
                        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter"></div>

                    </div>
                </div>
                <div id="contact-form" {% if error_name or error_email or error_enquiry %} class="active" style="opacity: 1" {% endif %}>
                    <a class="close" role="button">
                        <img class="lazyload" alt="Close" data-src="/catalog/view/theme/simplex/assets/img/x.png">
                    </a>
                    <h3>{{ text_contact }}</h3>
                    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="contact-form">
                        <label class="required" for="name">{{ entry_name }}</label><input id="name" class="{{ error_name?"has-error" }}"  name="name" placeholder="{{ error_name?error_name }}"  value="{{ name }}" required type="text">
                        <label class="required" for="mail">{{ entry_email }}</label><input id="mail" name="email" class="{{ error_email?"has-error" }}"  name="name" placeholder="{{ error_email?error_email }}" value="{{ email }}"  required type="text">
                        <label for="subject">{{ entry_subject }}</label><input id="subject" value="{{ subject }}" name="subject" type="text">
                        <label class="required" for="message">{{ entry_enquiry }}</label><textarea  id="message" placeholder="{{ error_enquiry?error_enquiry }}" class="{{ error_enquiry?"has-error" }}" name="enquiry" rows="10" id="input-enquiry"
                                                                                                    required>{{ enquiry }}</textarea>
                        <hr>
                        <label for="file">{{ entry_file }}</label><label class="upload">{{ text_browse_file }}...<input id="file" name="file"  type="file"></label>
                        <hr>
                        <div class="submit">
                            <button class="form-submit" type="submit" value="{{ button_submit }}">
                                {{ button_submit }}
                                <span class="image-container"></span>
                            </button>
                            <p><span style="color:#b73232">*</span> – {{ text_required_fields }}</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ content_bottom }}
</main>
{{ footer }}