{{ header }}
<main class="gallery-bg">
    <div class="container-fluid">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if loop.first %}
                    <li><a href="{{ breadcrumb.href }}"><img alt="Home"
                                                             src="catalog/view/theme/simplex/assets/img/home.svg"></a>
                    </li>
                {% else %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endif %}
            {% endfor %}

        </ul>
        <div class="page-title centered">
            <h1>
                {{ heading_title }}
            </h1>
            <hr>
        </div>
        <div class="project-wrapper">
            <div class="card">
                {% if thumb %}
                    <a href="#"><img alt="Newest" class="card-img-top" src="{{ thumb }}"></a>
                {% endif %}
            </div>

            <div class="content heading">
                <p>
                    {{ short_description }}
                </p>
            </div>

            <div class="content">
                {{ description }}
            </div>
            {% if original_images %}
                <div class="slideshow">
                    {% for image in original_images %}
                        <div class="image">
                            <img alt="Main" src="{{ image.popup }}">
                        </div>
                    {% endfor %}
                </div>
                <div id="slides-counter"></div>
            {% endif %}
            <div class="content">
                {{ description_additional }}
            </div>

            <div class="share">
                {% if archive_link %}
                    <div class="back">
                        <a href="{{ archive_link }}">{{ text_archive_link }}</a>
                    </div>
                {% endif %}
                <div class="social">
                    <p>{{ share_information }}:</p>
                    <script src="catalog/view/javascript/share2/es5-shims.min.js"></script>
                    <script src="catalog/view/javascript/share2/share.js"></script>
                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter"></div>

                </div>
            </div>
        </div>
    </div>
</main>
{{ content_bottom }}
{{ footer }}