{{ header }}
<main class="news-bg">
    <div class="container-fluid">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if loop.first %}
                    <li><a href="{{ breadcrumb.href }}"><img class="lazyload" alt="Home"
                                                             data-src="/catalog/view/theme/simplex/assets/img/home.svg"></a>
                    </li>
                {% elseif loop.last %}
                    <li>{{ breadcrumb.text }}</li>
                {% else %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="page-title centered">
            <h1>
                {{ heading_title }}
            </h1>
        </div>
        <div class="news-wrapper">
            <div class="news-card">
                <div class="card">
                    <div class="card-body">
                        <span class="card-foot">{{ date_added }}</span>
                    </div>
                    {% if thumb %}
                        <img class="lazyload" alt="Newest" class="card-img-top" data-src="{{ thumb }}">
                    {% endif %}
                </div>
            </div>
            <div class="content heading">
                <p>
                    {{ short_description }}
                </p>
            </div>

            <div class="content">
                {{ description }}
            </div>
            {% if original_images %}
                <div class="slideshow">
                    {% for image in original_images %}
                        <div class="image">
                            <img class="lazyload" alt="Main" data-src="{{ image.popup }}">
                        </div>
                    {% endfor %}
                </div>
                <div id="slides-counter"></div>
            {% endif %}
            <div class="content">
                {{ description_additional }}
            </div>
        </div>

        <div class="share">
            {% if archive_link %}
                <div class="back">
                    {% if back_to_the_list %}
                        <a href="{{ archive_link }}">{{ text_back_list }}</a>
                    {% else %}
                        <a href="{{ archive_link }}">{{ text_archive_link }}</a>
                    {% endif %}
                </div>
            {% endif %}
            <div class="social">
                <p>{{ share_information }}:</p>
                <script src="/catalog/view/javascript/share2/es5-shims.min.js"></script>
                <script src="/catalog/view/javascript/share2/share.js"></script>
                <div class="ya-share2" id="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter" data-image="{{ base }}{{ thumb }}"></div>
            </div>
            <hr style="margin-top: 0;">
        </div>
    </div>
    <hr style="margin-top: 0;">
    {{ content_bottom }}
</main>
{{ footer }}