
<div id="subscribe" class="newsletter_{{ id }}" data-mode="{{ mode }}">
	<div class="container-fluid">
		<form id="abonare"  method="post" action="{{ action }}" class="formNewLestter newsletter-bg"	>
		<label for="email"><p>{{ description }}</p></label>
			<input id="email"  name="email" type="text" class="form-control input-md inputNew" {% if customer_email is not defined %} onblur="javascript:if(this.value=='')this.value='{{ default_input_text }}';" onfocus="javascript:if(this.value=='{{ default_input_text }}')this.value='';"{% endif %} placeholder="{{ default_input_text }}"  type="email">
			<button type="submit" name="submitNewsletter">
				{{ button_subscribe }}
				<span class="image-container"></span>
			</button>
				<input type="hidden" value="1" name="action">
				<div class="valid"></div>


		</form>
	</div>
</div>

<script><!--
$(".newsletter_{{ id }}").pavoNewsletter({
    message: '{{ valid_email }}'
});//.work(  '{{ valid_email }}' );
--></script>