{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-location" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-location" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-address">{{ entry_address }}</label>
            <div class="col-sm-10">
              <textarea type="text" name="address" placeholder="{{ entry_address }}" rows="5" id="input-address" class="form-control">{{ address }}</textarea>
              {% if error_address %}
              <div class="text-danger">{{ error_address }}</div>
             {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-geocode"><span data-toggle="tooltip" data-container="#content" title="{{ help_geocode }}">{{ entry_geocode }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="geocode" value="{{ geocode }}" placeholder="{{ entry_geocode }}" id="input-geocode" class="form-control" />
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-telephone">{{ entry_telephone }}</label>
            <div class="col-sm-10">
              <input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" />
              {% if error_telephone %}
              <div class="text-danger">{{ error_telephone }}</div>
              {% endif %}
            </div>
          </div>
          {#          /* added by it-lab* start */#}
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-telephone">{{ entry_telephone1 }}</label>
            <div class="col-sm-10">
              <input type="text" name="telephone1" value="{{ telephone1 }}" placeholder="{{ entry_telephone1 }}" id="input-telephone1" class="form-control" />
              {% if error_telephone1 %}
                <div class="text-danger">{{ error_telephone1 }}</div>
              {% endif %}
            </div>
          </div>

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-telephone">{{ entry_telephone2 }}</label>
            <div class="col-sm-10">
              <input type="text" name="telephone2" value="{{ telephone1 }}" placeholder="{{ entry_telephone2 }}" id="input-telephone2" class="form-control" />
              {% if error_telephone1 %}
                <div class="text-danger">{{ error_telephone2 }}</div>
              {% endif %}
            </div>
          </div>

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-telephone">{{ entry_email }}</label>
            <div class="col-sm-10">
              <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
              {% if error_email %}
                <div class="text-danger">{{ error_email }}</div>
              {% endif %}
            </div>
          </div>

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-telephone">{{ entry_order }}</label>
            <div class="col-sm-10">
              <input type="number" name="location_order" value="{{ location_order }}" placeholder="{{ entry_order }}" id="input-order" class="form-control" />
              {% if error_location_order %}
                <div class="text-danger">{{ error_location_order }}</div>
              {% endif %}
            </div>
          </div>

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-telephone">Is online</label>
            <div class="col-sm-10">
              <input type="checkbox" name="is_online"  {% if is_online %} checked {% endif %} value="{{ is_online }}" placeholder="{{ entry_is_online }}" id="input-is_online" class="form-control" />
              {% if error_is_online %}
                <div class="text-danger">{{ error_is_online }}</div>
              {% endif %}
            </div>
          </div>
          {#          /* added by it-lab* end */#}
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-telephone">{{ entry_fax }}</label>
            <div class="col-sm-10">
              <input type="text" name="fax" value="{{ fax }}" placeholder="{{ entry_fax }}" id="input-fax" class="form-control" />
            </div>
          </div>          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-image">{{ entry_image }}</label>
            <div class="col-sm-10"><a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
              <input type="hidden" name="image" value="{{ image }}" id="input-image" />
            </div>
          </div>
          {#          /* added by it-lab* start */#}
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-image_geo">{{ entry_image_geo }}</label>
            <div class="col-sm-10"><a href="" id="thumb-image_geo" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_geo }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
              <input type="hidden" name="image_geo" value="{{ image_geo }}" id="input-image_geo" />
            </div>
          </div>
          {#          /* added by it-lab* end */#}
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-open"><span data-toggle="tooltip" data-container="#content" title="{{ help_open }}">{{ entry_open }}</span></label>
            <div class="col-sm-10">
              <textarea name="open" rows="5" placeholder="{{ entry_open }}" id="input-open" class="form-control">{{ open }}</textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-comment"><span data-toggle="tooltip" data-container="#content" title="{{ help_comment }}">{{ entry_comment }}</span></label>
            <div class="col-sm-10">
              <textarea name="comment" rows="5" placeholder="{{ entry_comment }}" id="input-comment" class="form-control">{{ comment }}</textarea>
            </div>
          </div>
{#          /* added by it-lab* start */#}

          <ul class="nav nav-tabs" id="language">
            {% for language in languages %}
              <li class="nav-item"><a href="#language{{ language.language_id }}" data-toggle="tab" class="nav-link"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/> {{ language.name }}</a></li>
            {% endfor %}
          </ul>
          <div class="tab-content">
            {% for language in languages %}
              <div class="tab-pane" id="language{{ language.language_id }}">
                <div class="form-group row required">
                  <label class="col-sm-2 col-form-label" for="input-name{{ language.language_id }}">{{ entry_address }}</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" name="location_description[{{ language.language_id }}][address]" value="{{ location_description[language.language_id] ? location_description[language.language_id].address }}" placeholder="{{ entry_address }}" id="input-name{{ language.language_id }}" class="form-control"/>
                      {% if master_id %}
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <div class="custom-control custom-switch">
                              <input type="checkbox" name="" value="" id="input-variant-name{{ language.language_id }}" class="custom-control-input"><label class="custom-control-label" for="input-variant-name{{ language.language_id }}"></label>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                    {% if error_address[language.language_id] %}
                      <div class="invalid-feedback">{{ error_address[language.language_id] }}</div>
                    {% endif %}
                  </div>
                </div>

                <div class="form-group row required">
                  <label class="col-sm-2 col-form-label" for="input-name{{ language.language_id }}">{{ entry_country }}</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" name="location_description[{{ language.language_id }}][country]" value="{{ location_description[language.language_id] ? location_description[language.language_id].country }}" placeholder="{{ entry_country }}" id="input-name{{ language.language_id }}" class="form-control"/>
                      {% if master_id %}
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <div class="custom-control custom-switch">
                              <input type="checkbox" name="" value="" id="input-variant-name{{ language.language_id }}" class="custom-control-input"><label class="custom-control-label" for="input-variant-name{{ language.language_id }}"></label>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                    {% if error_address[language.language_id] %}
                      <div class="invalid-feedback">{{ error_address[language.language_id] }}</div>
                    {% endif %}
                  </div>
                </div>

                <div class="form-group row required">
                  <label class="col-sm-2 col-form-label" for="input-name{{ language.language_id }}">{{ entry_city }}</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" name="location_description[{{ language.language_id }}][city]" value="{{ location_description[language.language_id] ? location_description[language.language_id].city }}" placeholder="{{ entry_city }}" id="input-name{{ language.language_id }}" class="form-control"/>
                      {% if master_id %}
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <div class="custom-control custom-switch">
                              <input type="checkbox" name="" value="" id="input-variant-name{{ language.language_id }}" class="custom-control-input"><label class="custom-control-label" for="input-variant-name{{ language.language_id }}"></label>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                    {% if error_address[language.language_id] %}
                      <div class="invalid-feedback">{{ error_address[language.language_id] }}</div>
                    {% endif %}
                  </div>
                </div>

                <div class="form-group row required">
                  <label class="col-sm-2 col-form-label" for="input-name{{ language.language_id }}">{{ entry_district }}</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" name="location_description[{{ language.language_id }}][district]" value="{{ location_description[language.language_id] ? location_description[language.language_id].district }}" placeholder="{{ entry_district }}" id="input-name{{ language.language_id }}" class="form-control"/>
                      {% if master_id %}
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <div class="custom-control custom-switch">
                              <input type="checkbox" name="" value="" id="input-variant-name{{ language.language_id }}" class="custom-control-input"><label class="custom-control-label" for="input-variant-name{{ language.language_id }}"></label>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                    {% if error_address[language.language_id] %}
                      <div class="invalid-feedback">{{ error_address[language.language_id] }}</div>
                    {% endif %}
                  </div>
                </div>


                <div class="form-group row required">
                  <label class="col-sm-2 col-form-label" for="input-name{{ language.language_id }}">{{ entry_open }}</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <textarea type="text"  name="location_description[{{ language.language_id }}][open]"  data-toggle="summernote" placeholder="{{ entry_open }}" id="input-name{{ language.language_id }}" class="form-control">{{ location_description[language.language_id] ? location_description[language.language_id].open }}</textarea>
                      {% if master_id %}
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <div class="custom-control custom-switch">
                              <input type="checkbox" name="" value="" id="input-variant-name{{ language.language_id }}" class="custom-control-input"><label class="custom-control-label" for="input-variant-name{{ language.language_id }}"></label>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                    {% if error_address[language.language_id] %}
                      <div class="invalid-feedback">{{ error_address[language.language_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
{#          /* added by it-lab end */#}
        </form>
      </div>
    </div>
  </div>
</div>
{#/* added by it-lab* start */#}
<script type="text/javascript"><!--
  $('#language li:first-child a').tab('show');
  //--></script>
{#/* added by it-lab* start end */#}
{{ footer }}