{{ header }}
<main>
    <div class="container-fluid">
        {% if products %}
            <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if loop.first %}
                    <li><a href="{{ breadcrumb.href }}"><img alt="Home"
                                                             src="catalog/view/theme/simplex/assets/img/home.svg"></a>
                    </li>
                {% elseif loop.last %}
                    <li>{{ breadcrumb.text }}</li>
                {% endif %}
            {% endfor %}
        </ul>
            <div class="page-title">
                <h1>{{ heading_title }}</h1>
            </div>
            <div id="compare-table">
                <table>
                    <thead>
                    <tr>
                        <td colspan="{{ products|length + 1 }}"><strong>{{ text_product }}</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>{{ text_name }}</strong></td>
                        {% for product in products %}
                            <td><a href="{{ product.href }}"><strong>{{ product.name }}</strong></a></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td><strong>{{ text_image }}</strong></td>
                        {% for product in products %}
                            <td class="text-center">
                                {% if product.thumb %}
                                    <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"
                                         class="img-thumbnail">
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td><strong>{{ text_price }}</strong></td>
                        {% for product in products %}
                            <td>{% if product.price %}
                                    {% if not product.special %}
                                        <span class="price">{{ product.price }}-<span class="currency">MDL</span></span>
                                    {% else %}
                                        <s>{{ product.price }}</s> <span class="price">{{ product.price }}-<span
                                                class="currency">MDL</span></span>
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td><strong>{{ text_model }}</strong></td>
                        {% for product in products %}
                            <td>{{ product.model }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td><strong>{{ text_manufacturer }}</strong></td>
                        {% for product in products %}
                            <td>{{ product.manufacturer }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td><strong>{{ text_availability }}</strong></td>
                        {% for product in products %}
                            <td>{{ product.availability }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td><strong>{{ text_summary }}</strong></td>
                        {% for product in products %}
                            <td>{{ product.description }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td><strong>{{ text_weight }}</strong></td>
                        {% for product in products %}
                            <td>{{ product.weight }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td><strong>{{ text_dimension }}</strong></td>
                        {% for product in products %}
                            <td>{{ product.length }} x {{ product.width }} x {{ product.height }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                    {% for attribute_group in attribute_groups %}
                        <thead>
                        <tr>
                            <td colspan="{{ products|length + 1 }}"><strong>{{ attribute_group.name }}</strong></td>
                        </tr>
                        </thead>
                        {% for key, attribute in attribute_group.attribute %}
                            <tbody>
                            <tr>
                                <td><strong>{{ attribute.name }}</strong></td>
                                {% for product in products %}
                                    {% if product.attribute[key] %}
                                        <td> {{ product.attribute[key] }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            </tbody>
                        {% endfor %}
                    {% endfor %}
                    <tbody>
                    <tr>
                        <td></td>
                        {% for product in products %}
                            <td>
                                <button onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">
                                    {{ button_cart }}
                                    <span class="image-container"><img alt="Cart"
                                                                       src="catalog/view/theme/simplex/assets/img/cart.svg"></span>
                                </button>
                                <a href="{{ product.remove }}" class="delete-all">{{ button_remove }}</a>
                            </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        {% else %}
            <div id="success">
                <div id="ok">
                    <svg height="30px" width="38px" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.000,31.000 C1.000,31.000 6.636,21.000 18.000,21.000 C29.364,21.000 36.000,35.000 36.000,35.000 "
                              fill="none" fill-rule="evenodd" stroke="rgb(178, 181, 182)"
                              stroke-linecap="butt" stroke-linejoin="miter"
                              stroke-width="2px"></path>
                        <path d="M28.500,0.000 C30.433,0.000 32.000,1.567 32.000,3.500 C32.000,5.433 30.433,7.000 28.500,7.000 C26.567,7.000 25.000,5.433 25.000,3.500 C25.000,1.567 26.567,0.000 28.500,0.000 Z"
                              fill="rgb(178, 181, 182)"
                              fill-rule="evenodd"></path>
                        <path d="M9.500,0.000 C11.433,0.000 13.000,1.567 13.000,3.500 C13.000,5.433 11.433,7.000 9.500,7.000 C7.567,7.000 6.000,5.433 6.000,3.500 C6.000,1.567 7.567,0.000 9.500,0.000 Z"
                              fill="rgb(178, 181, 182)"
                              fill-rule="evenodd"></path>
                    </svg>
                </div>
                <h1>{{ text_empty }}</h1>
                <a id="history" href="{{ continue }}">
                    {{ button_continue }}
                    <span class="image-container"></span>
                </a>
            </div>
        {% endif %}
    </div>
</main>

{{ footer }} 