{{ header }}
<main>
  <div class="container-fluid">
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        {% if loop.first %}
          <li><a href="{{ breadcrumb.href }}"><img alt="Home"
                                                   src="catalog/view/theme/simplex/assets/img/home.svg"></a>
          </li>
        {% else %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endif %}
      {% endfor %}

    </ul>
    <div class="page-title">
      <h1>{{ heading_title }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="catalog-wrapper">
      {{ column_left }}

      <div class="products-wrapper">
        <div class="control">
          <div class="left">
            <div class="sort-by">
              <select id="sort" onchange="location = this.value;">
                {% for sorts in sorts %}
                  {% if sorts.value == '%s-%s'|format(sort, order) %}
                    <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                  {% else %}
                    <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <label for="sort"></label>
            </div>
          </div>
          <div class="right">
            <div class="button-group">
              <button class="grid active">
                <svg baseProfile="tiny" version="1.2"
                     viewBox="0 0 22 16" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                     y="0px">
                                    <path d="M12,12h4v4h-4V12z M6,12h4v4H6V12z M0,12h4v4H0V12z M12,6h4v4h-4V6z M6,6h4v4H6V6z M0,6h4v4H0V6z M12,0h4v4
                                    h-4V0z M6,0h4v4H6V0z M0,0h4v4H0V0z"></path>
                  <path d="M18,12h4v4h-4V12z M12,12h4v4h-4V12z M6,12h4v4H6V12z M18,6h4v4h-4V6z M12,6h4v4h-4V6z M6,6h4v4H6V6z M18,0
                                    h4v4h-4V0z M12,0h4v4h-4V0z M6,0h4v4H6V0z"></path>
                                </svg>
              </button>
              <button class="inline">
                <svg height="7" viewBox="0 0 11.938 7" width="11.938"
                     xmlns="http://www.w3.org/2000/svg">
                  <path d="M89.279,70V69h11.944v1H89.279m0,3V72h11.944v1H89.279m0,3V75h11.944v1H89.279"
                        transform="translate(-89.281 -69)"></path>
                </svg>

              </button>
            </div>

          </div>
        </div>
        {% if products %}
          <div class="products grid">
            {% for product in products %}
              <div class="product-column">
                <div class="product">
                  <a href="{{ product.href }}">
                    <ul class="sticker">
                      {% if product.special_percentage %}
                        <li>
                          <span class="stock">%</span>
                        </li>
                      {% endif %}

                        <li>
                          <span class="new">new</span>
                        </li>
                    </ul>
                    <div class="image-container">
                      <img alt="" src="{{ product.thumb }}">
                    </div>
                    <div class="product-body">
                      <h5 class="title">{{ product.name }}</h5>
                      {% if product.hide_price %}
                        <div class="discount">
                          {% if product.special %}
                            <p class="old-price">{{ product.price }}.-</p>
                            <p class="discount-percent">-{{ product.special_percentage }}%</p>
                            <p class="discount-val">-{{ product.economy }}</p>
                          {% endif %}
                        </div>
                        {% if product.special %}
                          <p class="price">{{ product.special }}.-</p>
                        {% else %}
                          <p class="price">{{ product.price }}.-</p>
                        {% endif %}
                        <p class="currency">{{ currency }}</p>
                      {% endif %}
                    </div>
                  </a>
                  {% if product.hide_price %}
                    <button class="add-to-cart" onclick="cart.add('{{ product.product_id }}');">
                      <p>{{ button_cart }}</p>
                      <span class="image-container">
                                                <img alt="Cart" src="catalog/view/theme/simplex/assets/img/cart.png">
                                          </span>
                    </button>
                  {% endif %}
                  <div class="float-buttons">
                    <button class="favorite" onclick="wishlist.add('{{ product.product_id }}');">
                      <img
                              alt=""
                              src="catalog/view/theme/simplex/assets/img/favorites.png">
                    </button>
                    <button class="compare" href="#"
                            onclick="compare.add('{{ product.product_id }}');">
                      <img
                              alt=""
                              src="catalog/view/theme/simplex/assets/img/compare.png">
                    </button>
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
        {% else %}
          <div class="container-fluid">
            <div id="success">
              <h1>{{ text_empty }}</h1>
            </div>
          </div>
        {% endif %}
      </div>

    </div>
  </div>
  </div>
</main>
{{ content_bottom }}
{{ footer }}
