<div class="container-fluid">
    <div class="interesting">
        <h4>{{ heading_title }}</h4>
        <div class="projects-list">
            {% set i=0 %}
            {% for information in informations %}
                {% if i<3 %}
                    <div class="card">
                        <a href="{{ information.href }}">
                            {% if information.thumb %}
                                <div class="image-container">
                                    <img alt="New 1" class="card-img-top" src="{{ information.original_image }}">
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <div class="card-text">
                                    {{ information.title }}
                                </div>
                                <span class="card-foot">{{ information.date_added }}</span>
                            </div>
                        </a>
                    </div>
                {% endif %}
                {% set i=i+1 %}
            {% endfor %}
        </div>
    </div>
</div>