{#<div class="swiper-viewport">
  <div id="carousel{{ module }}" class="swiper-container
">
    <div class="swiper-wrapper">{% for banner in banners %}
      <div class="swiper-slide text-center">{% if banner.link %}<a href="{{ banner.link }}"><img class="lazyload" data-src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img class="lazyload" data-src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
      {% endfor %}</div>
  </div>
  <div class="swiper-pagination carousel{{ module }}"></div>
  <div class="swiper-pager">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>#}

<div id="brands">
  <div class="container-fluid">
    <div class="block-title">
      <h2>{{ manufacturers }}</h2>
    </div>
    <div class="brand-slider">
      {% for banner in banners %}
        <div class="brand">
          {% if banner.link %}<a href="{{ banner.link }}">{% endif %}
            <img class="lazyload" alt="{{ banner.title }}" data-src="{{ banner.image }}">
          {% if banner.link %}</a>{% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
