<div id="slider">
    <div class="container-fluid">
        <div class="main-slider">
            {% for banner in banners %}
                <a href="{{ banner.link }}">
                    <img alt="{{ banner.title }}" src="{{ banner.image }}">
                </a>
            {% endfor %}
        </div>
        <div class="slider-nav">
            {% for banner in banners %}
                <div class="item">
                    <div class="image-container">
                        <div class="image">
                            <img alt="{{ banner.title }}" src="{{ banner.image }}">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

