<div id="slider">
  <div class="container-fluid">
    <div class="categories">
      <nav class="menu">
        <ul>
          {% for catalog_item in catalog.children %}
            <li class="menu-item dropright">
              <a class="menu-link dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                 href="{{ catalog_item.link }}" role="button">
                <div class="image-container">
                  {% if catalog_item.image_svg %}
                    {{ catalog_item.image_svg }}
                  {% else %}
                    {% if catalog_item.image %}
                      <img src="{{ catalog_item.image }}" alt="{{ catalog_item.title }}">
                    {% endif %}
                  {% endif %}
                </div>
                <span>{{ catalog_item.title }}</span>
              </a>
              <div class="dropdown-menu">
                {% import _self as slideshow %}
                {{ slideshow.catalog_links(catalog_tree, 1, catalog_item.item) }}
                {% macro catalog_links(items, menu_level, parent_id) %}
                  {% import _self as slide %}
                  {% for category in items %}
                    {% if category.parent_id == parent_id %}
                      {% if menu_level == 1 %}
                        <div class="category-list">
                          <h5>
                            <a href="{{ category.href }}">{{ category.name }}</a>
                          </h5>
                          <ul>
                            {{ slide.catalog_links(items, 2, category.category_id) }}
                          </ul>
                        </div>
                      {% else %}
                        {% if menu_level == 2 %}
                          <li>
                            <a href="{{ category.href }}">
                              {{ category.name }}
                            </a>
                          </li>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                {% endmacro %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="main-slider">
      {% for banner in banners %}
        <a href="{{ banner.link }}">
          <img alt="{{ banner.title }}" src="{{ banner.image }}">
        </a>
      {% endfor %}
    </div>
  </div>
</div>

