<div id="discounts">
    <div class="container-fluid">
        <div class="block-title">
            <h2>{{ heading_title }}</h2>
        </div>
        <div class="product-slider">
            {% for product in products %}
                <div class="product">
                    <a href="{{ product.href }}">
                        <ul class="sticker">
                            {% if product.special_percentage %}
                                <li>
                                    <span class="stock">%</span>
                                </li>
                            {% endif %}
                            {% if product.is_new %}
                                <li>
                                    <span class="new">new</span>
                                </li>
                            {% endif %}
                        </ul>
                        <div class="image-container">
                            <img alt="" src="{{ product.thumb }}">
                        </div>
                        <div class="product-body">
                            <h5 class="title">{{ product.name }}</h5>

                            <div class="discount">
                                {% if product.special %}
                                    <p class="old-price">{{ product.price }}.-</p>
                                    <p class="discount-percent">-{{ product.special_percentage }}%</p>
                                    <p class="discount-val">-{{ product.economy }}</p>
                                {% endif %}
                            </div>
                            {% if product.special %}
                                <p class="price">{{ product.special }}.-</p>
                            {% else %}
                                <p class="price">{{ product.price }}.-</p>
                            {% endif %}
                            <p class="currency">{{ currency }}</p>
                        </div>
                    </a>
                    <button class="add-to-cart" onclick="cart.add('{{ product.product_id }}');">
                        <p>{{ button_cart }}</p>
                        <span class="image-container">
                                                <img alt="Cart" src="catalog/view/theme/simplex/assets/img/cart.png">
                                          </span>
                    </button>
                    <div class="float-buttons">
                        <button class="favorite" onclick="wishlist.add('{{ product.product_id }}');">
                            <img
                                    alt=""
                                    src="catalog/view/theme/simplex/assets/img/favorites.png">
                        </button>
                        <button class="compare" href="#"
                                onclick="compare.add('{{ product.product_id }}');">
                            <img
                                    alt=""
                                    src="catalog/view/theme/simplex/assets/img/compare.png">
                        </button>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>

