<div class="dropdown-menu dropdown-menu-right">
    {% if products or vouchers %}
        <ul>
            {% for product in products %}
                <li class="product">
                    <a href="{{ product.href }}">
                        <div class="image-container">
                            <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}">
                        </div>
                        <div class="product-body">
                            <h5 class="title">{{ product.name }}</h5>
                            <div class="price-container">
                                <div class="discount">
                                    <p class="price"> {{ product.price }} <span> x {{ product.quantity }}</span></p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}"
                            class="delete"></button>
                </li>
            {% endfor %}
        </ul>
        <div class="total">
            <p>
                <span>{{ totals[0].title }}</span>
                <br>
                <span class="price">{{ totals[0].text }} <span class="currency">MDL</span></span>
            </p>
            <a href="{{ cart }}">
                {{ text_cart }}
                <span class="image-container"></span>
            </a>
        </div>
    {% else %}
        <p class="text-center">{{ text_empty }}</p>
    {% endif %}
</div>