<footer>
  <div class="container-fluid">
    <div id="footer">
      <div class="about-list">
        {% if footer_titles %}
          {% for footer_title in footer_titles %}
            {% if loop.first %}
              <h6>{{ footer_title.title }}</h6>
              {% if footer_title.sub_title %}
                <ul>
                  {% for subtitle in footer_title.sub_title %}
                    {% if subtitle.href %}
                      <li><a href="{{ subtitle.href }}">
                          {{ subtitle.title }}</a></li>
                    {% else %}
                      <li><a href="{{ subtitle.link }}">
                          {{ subtitle.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="catalog-list">
        <h6>{{ catalog.title }}</h6>
        <ul>
          {% for menu in catalog_first_level %}
            <li>
              <a href="{{ menu.href }}">
                {{ menu.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <ul class="contacts">
        <li>
          <h5 class="phone">
            <a class="tel" href="tel:{{ telephone }}">{{ telephone }}</a>
            <p><a href="#">{{ text_phone_callback }}</a></p>
          </h5>
        </li>
        <li>
          <div class="offices">
            <h6>{{ text_our_stores }}</h6>
            <ul>
              {% for location in locations %}
                <li><a href="{{ location.contacts_link }}">{{ location.city }}
                    , {{ location.address }}</a></li>
              {% endfor %}

            </ul>
          </div>
        </li>
      </ul>
      <ul class="info">
        <li>
          <div class="copyright">
            {{ text_copyright }}
          </div>
        </li>
        <li>
          <div class="follow-us">
            {% if footer_titles %}
              {% for footer_title in footer_titles %}
                {% if loop.index==2 %}
                  {% if footer_title.sub_title %}
                    <p>{{ text_follow_us }}
                      {% for subtitle in footer_title.sub_title %}

                        <a href="{{ subtitle.link }}">
                          <img class="lazyload" height="16" alt="{{ subtitle.title }}"
                               data-src="/catalog/view/theme/simplex/assets/img/{{ subtitle.title|lower }}.svg"></a>
                      {% endfor %}
                    </p>

                  {% endif %}
                {% endif %}

              {% endfor %}
            {% endif %}
          </div>
        </li>
        <li>
          <div class="pay-methods">
            <ul>
              <li><img class="lazyload" alt="Mastercard"
                       data-src="/catalog/view/theme/simplex/assets/img/mastercard.png"></li>
              <li><img class="lazyload" alt="Visa" data-src="/catalog/view/theme/simplex/assets/img/visa.png"></li>
              <li><img class="lazyload" alt="Cash" data-src="/catalog/view/theme/simplex/assets/img/cash.png"></li>
              <li><img class="lazyload" alt="Bank" data-src="/catalog/view/theme/simplex/assets/img/bank.png"></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
<div id="success-popup">
  <p class="message">Adăugat cu succes în wishlist</p>
</div>
<div class="phone-popup">
    <span class="delete">
        <a href="#">
            <svg height="14px" width="18px" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.877,10.113 L2.076,1.000 " fill="none" fill-rule="evenodd" stroke="rgb(178, 181, 182)"
                      stroke-linecap="butt" stroke-linejoin="miter" stroke-width="2px"></path>
                <path d="M2.076,10.113 L14.877,1.000 " fill="none" fill-rule="evenodd" stroke="rgb(178, 181, 182)"
                      stroke-linecap="butt" stroke-linejoin="miter" stroke-width="2px"></path>
            </svg>
        </a>
    </span>
  <div class="input-telephone top">
    <h6>
      <a href="tel:{{ telephone }}">{{ telephone }}</a>
    </h6>
  </div>
  <div class="timetable">
    {{ open }}
  </div>
  <div class="input-telephone">
    <h6>{{ text_phone_callback }}</h6>
    <label><input class="customer_phone" placeholder="{{ text_your_phone }}" type="tel"></label>
    <button class="button-call-back" type="submit">
      {{ text_callback }}
      <span class="image-container"></span>
    </button>
  </div>
</div>
<script src="/catalog/view/javascript/simplex/jquery-ui.min.js"></script>
<script src="/catalog/view/javascript/simplex/popper.min.js"></script>
<script src="/catalog/view/javascript/simplex/bootstrap.min.js"></script>
<script src="/catalog/view/javascript/simplex/bootstrap-input-spinner.js"></script>
<script src="/catalog/view/javascript/simplex/slick.js"></script>
<script src="/catalog/view/javascript/simplex/grid-animate.js"></script>
<script>
	const grid = document.querySelector(".products");
	if (grid != null) {
		animateCSSGrid.wrapGrid(grid, {
			duration: 500,
			stagger: 10,
		});
	}
</script>
<script>
	wishlist.add = function (product_id) {
		$.ajax({
			url: '/index.php?route=account/wishlist/add',
			type: 'post',
			data: 'product_id=' + product_id,
			dataType: 'json',
			success: function (json) {
				$('.alert-dismissible').remove();

				if (json['redirect']) {
					location = json['redirect'];
				}

				show_succes_popup(product_id, json['success_message'], 'wishlist');

				$('#wishlist-total .quantity').removeClass('d-none').html(json['total']);
				$('#wishlist-total').attr('title', json['total']);
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	};
	wishlist.remove = function (product_id) {
		$.ajax({
			url: '/index.php?route=account/wishlist/remove',
			type: 'post',
			data: 'product_id=' + product_id,
			dataType: 'json',
			success: function (json) {
				$('.alert-dismissible').remove();

				if (json['redirect']) {
					location = json['redirect'];
				}

				if (json['success']) {
					$('#content').parent().before('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['total'] === 0) {
					$('main').html(json['wishlist_empty']);
					$('#wishlist-total .quantity').addClass('d-none');
				}
				$('#wishlist-total').attr('title', json['total']);

				//$('html, body').animate({scrollTop: 0}, 'slow');
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	};
	$('.delete-from-wishlist').click(function () {
		var product_id = $(this).data('product_id');
		wishlist.remove(product_id);
	});
	$('.delete-all-from-wishlist').click(function () {
		wishlist.remove('all');
	})
</script>
<script>
	$('#search input[name=\'search\']').on('keydown', function (e) {
		if (e.keyCode === 13) {
			$('header #search button.button-search').trigger('click');
		}
	});
	$('#search button.button-search').on('click', function () {
		var url = $('base').attr('href') + 'index.php?route=product/search';
		var value = $('header #search input[name=\'search\']').val();
		if (value) {
			url += '&search=' + encodeURIComponent(value);
		}
		location = url;
	});
</script>
<script>
	$(".timetable table").attr("style", '');
	$(".input-telephone input , #subscribe #email").on("input", function () {
		$(this).removeClass('has-error');
	});
	$(".button-call-back").click(function (e) {
		e.preventDefault();
		e.stopPropagation();
		e.stopImmediatePropagation();
		var button_callback = $(this);
		var phone_popup_top = button_callback.closest(".phone-popup-top");
		var input_telephone_block = button_callback.closest(".input-telephone");
		var phone = input_telephone_block.find(".customer_phone").val();
		$.ajax({
			url: '/index.php?route=information/contact',
			type: 'post',
			data: 'customer_phone=' + phone.trim(),
			dataType: 'json',
			success: function (json) {
				if (json["phone_error"]) {
					$(".input-telephone input").addClass('has-error').val('').attr('placeholder', json['phone_error']);
				} else if (json['error']) {
					alert(json['error']);
				} else {
					//$(".phone-popup table").hide(300);
					input_telephone_block.find("input").removeClass('has-error');
					input_telephone_block.find("h6").text(json["result"]);
					input_telephone_block.find("input").remove();
					if (phone_popup_top.length > 0) {
						var tel_dropdown_toggle_width = $('.tel.dropdown-toggle').outerWidth();
						$(phone_popup_top).css('left', (phone_popup_top[0].offsetLeft + tel_dropdown_toggle_width) + 'px');
					}
					button_callback.hide();
					setTimeout(function () {
						//button_callback.closest('.phone-popup').css({'opacity': '0'});
					}, 1000);
					setTimeout(function () {
						$('.phone-popup .delete').trigger('click');
					}, 1000);
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	})
</script>
<script>
	compare.add = function (product_id) {
		$.ajax({
			url: '/index.php?route=product/compare/add',
			type: 'post',
			data: 'product_id=' + product_id,
			dataType: 'json',
			success: function (json) {
				$('.alert-dismissible').remove();

				if (json['success']) {
					$('#content').parent().before('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					show_succes_popup(product_id, json['success_message'], 'compare');
					$('#compare-total').html(json['total']);
					$('#compare .quantity').removeClass('d-none').html(json['total']);
					//$('html, body').animate({scrollTop: 0}, 'slow');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	}
</script>
<script>
	cart.add = function (product_id, quantity) {
		$.ajax({
			url: 'index.php?route=checkout/cart/add',
			type: 'post',
			data: 'product_id=' + product_id + '&quantity=' + (typeof (quantity) != 'undefined' ? quantity : 1),
			dataType: 'json',
			beforeSend: function () {
				$('#cart > a').button('loading');
			},
			complete: function () {
				$('#cart > a').button('reset');
			},
			success: function (json) {
				$('.alert-dismissible, .text-danger').remove();

				if (json['redirect']) {
					location = json['redirect'];
				}

				if (json['success']) {
					$('#content').parent().before('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					$('#cart .quantity').text(json['cart_count']);
					$('#cart .dropdown-menu > ul').load('index.php?route=common/cart/info .dropdown-menu ul li');
					$('#cart .total-wrapper').load('index.php?route=common/cart/info .total-wrapper .total');

					show_succes_popup(product_id, json['success_message'], 'cart');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	};
	cart.remove = function (key) {
		$.ajax({
			url: 'index.php?route=checkout/cart/remove',
			type: 'post',
			data: 'key=' + key,
			dataType: 'json',
			beforeSend: function () {
				$('#cart > button').button('loading');
			},
			complete: function () {
				$('#cart > button').button('reset');
			},
			success: function (json) {
				// Need to set timeout otherwise it wont update the total
				setTimeout(function () {
					$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');
				}, 100);
				$('#cart-total').html(json['count']);

				if (json['count'] === 0) {
					//location.reload();
				}

				if (getURLVar('route') === 'checkout/cart' || getURLVar('route') === 'checkout/checkout') {
					location = 'index.php?route=checkout/cart';
				} else {
					$('#cart .dropdown-menu > ul').load('index.php?route=common/cart/info ul li');
					$('#cart .total-wrapper').load('index.php?route=common/cart/info .total-wrapper .total');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	};

	$('.delete-all-from-cart').click(function () {
		cart.remove('all');
	})
</script>
<script>
	let value;
	let quantity;

	function getCartTable() {
		$(".quantity").on("change", function () {
			value = $(this).val();
			quantity = $(this).attr('name');
			$.ajax({
				url: '/index.php?route=checkout/cart/edit',
				type: 'post',
				data: quantity + '=' + value,
				dataType: 'text',
				error: function (xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		});
	}

	getCartTable();
</script>
<script src="/catalog/view/javascript/simplex/script.js"></script>
</body></html>
