<footer>
    <div class="container-fluid">
        <div id="footer">
            <div class="about-list">
                {# <h6>{{ about.title }}</h6>
                 <ul>
                     {% for menu in about.children %}
                         <li><a href="{{ menu.link }}">{{ menu.title }}</a></li>
                     {% endfor %}

                 </ul>#}
                {% if footer_titles %}
                    {% for footer_title in footer_titles %}
                        <h6>{{ footer_title.title }}</h6>
                        {% if footer_title.sub_title %}
                            <ul>
                                {% for subtitle in footer_title.sub_title %}
                                    {% if subtitle.href %}
                                        <li><a href="{{ subtitle.href }}">
                                            {{ subtitle.title }}</a></li>
                                    {% else %}
                                        <li><a href="{{ subtitle.link }}">
                                            {{ subtitle.title }}</a></li>
                                        </a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="catalog-list">
                <h6>{{ catalog.title }}</h6>
                <ul>
                    {% for menu in catalog.children %}
                        <li><a href="{{ menu.link }}">
                        {% if menu.description %}
                            {{ menu.description }}
                        {% else %}
                            {{ menu.title }}</a></li>
                        {% endif %}
                        </a></li>
                    {% endfor %}
                </ul>
            </div>
            <ul class="contacts">
                <li>
                    <h5 class="phone">
                        <a class="tel" href="tel:{{ telephone }}">{{ telephone }}</a>
                        <p>Putem să sunăm înapoi</p>
                    </h5>
                </li>
                <li>
                    <div class="offices">
                        <h6>Magazinaele noastre:</h6>
                        <ul>
                            {% for location in locations %}
                                <li><a href="{{ location.contacts_link }}">{{ location.city }}, {{ location.address }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="info">
                <li>
                    <div class="copyright">
                        <p>&copy; 2019 Simplex.</p>
                        <p>Toate drepturile sunt rezervate</p>
                    </div>
                </li>
                <li>
                    <div class="follow-us">
                        <p>Urmați-ne: <a href="#"><img alt="Facebook"
                                                       src="catalog/view/theme/simplex/assets/img/facebook.svg"></a></p>
                    </div>
                </li>
                <li>
                    <div class="pay-methods">
                        <ul>
                            <li><img alt="Mastercard" src="catalog/view/theme/simplex/assets/img/mastercard.png"></li>
                            <li><img alt="Visa" src="catalog/view/theme/simplex/assets/img/visa.png"></li>
                            <li><img alt="Cash" src="catalog/view/theme/simplex/assets/img/cash.png"></li>
                            <li><img alt="Bank" src="catalog/view/theme/simplex/assets/img/bank.png"></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>
<script src="catalog/view/javascript/simplex/jquery-ui.min.js"></script>
<script src="catalog/view/javascript/simplex/popper.min.js"></script>
<script src="catalog/view/javascript/simplex/bootstrap.min.js"></script>
<script src="catalog/view/javascript/simplex/bootstrap-input-spinner.js"></script>

<script src="catalog/view/javascript/simplex/slick.js"></script>
<script src="catalog/view/javascript/simplex/grid-animate.js"></script>
<script>
    const grid = document.querySelector(".products");
    if (grid != null) {
        animateCSSGrid.wrapGrid(grid, {
            duration: 500,
            stagger: 10,
        });
    }
</script>
<script>
    wishlist.remove = function (product_id) {
        $.ajax({
            url: 'index.php?route=account/wishlist/remove',
            type: 'post',
            data: 'product_id=' + product_id,
            dataType: 'json',
            success: function (json) {
                $('.alert-dismissible').remove();

                if (json['redirect']) {
                    location = json['redirect'];
                }

                if (json['success']) {
                    $('#content').parent().before('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

                $('#wishlist-total span').html(json['total']);
                $('#wishlist-total').attr('title', json['total']);

                $('html, body').animate({scrollTop: 0}, 'slow');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    };
    $('.delete-from-wishlist').click(function () {
        var product_id = $(this).data('product_id');
        wishlist.remove(product_id);
    });
    $('.delete-all-from-wishlist').click(function () {
        wishlist.remove('all');
    })
</script>

<script>
    cart.add = function (product_id, quantity) {
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: 'product_id=' + product_id + '&quantity=' + (typeof (quantity) != 'undefined' ? quantity : 1),
            dataType: 'json',
            beforeSend: function () {
                $('#cart > button').button('loading');
            },
            complete: function () {
                $('#cart > button').button('reset');
            },
            success: function (json) {
                $('.alert-dismissible, .text-danger').remove();

                if (json['redirect']) {
                    location = json['redirect'];
                }

                if (json['success']) {
                    $('#content').parent().before('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                    // Need to set timeout otherwise it wont update the total


                    $('html, body').animate({scrollTop: 0}, 'slow');

                    $('#cart .quantity').text(json['cart_count']);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }
</script>


<script src="catalog/view/javascript/simplex/script.js"></script>
{% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>
