<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:url" content="{{ url }}">
  <meta property="og:image" content="{{ base }}{{ thumb }}">
  <meta property="og:title" content="{{ title }}">
  <meta name="twitter:card" content="summary">
  <title>{{ title }}</title>
  <base href="{{ base }}"/>
  {% if description %}
    <meta name="description" content="{{ description }}"/>
  {% endif %}
  {% if keywords %}
    <meta name="keywords" content="{{ keywords }}"/>
  {% endif %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
  <link href="/catalog/view/theme/simplex/stylesheet/style.min.css" rel="stylesheet">
  <link rel="image_src" href="{{ base }}{{ thumb }}"/>
  {% for style in styles %}
    <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
  {% endfor %}
  {% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}
  <script src="/catalog/view/javascript/common.js" type="text/javascript"></script>
  {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}"/>
  {% endfor %}
  {% for analytic in analytics %}
    {{ analytic }}
  {% endfor %}
  <script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>
</head>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/ro_RO/sdk.js#xfbml=1&version=v6.0"></script>
{% if cookie %}
  {{ cookie }}
{% endif %}
<header>
  <div id="navigation">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg">
        <div class="nav-item dropdown active" id="catalog">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
             role="button"></a>
          <div class="dropdown-menu categories">
            <nav class="menu">
              <ul>
                {% for catalog_item in catalog.children %}
                  <li class="menu-item">
                    <a class="menu-link" href="{{ catalog_item.link }}">
                      <div class="image-container">
                        {% if catalog_item.image_svg %}
                          {{ catalog_item.image_svg }}
                        {% else %}
                          {% if catalog_item.image %}
                            <img src="{{ catalog_item.image }}" alt="{{ catalog_item.title }}">
                          {% endif %}
                        {% endif %}
                      </div>
                      <span>{{ catalog_item.title }}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>
        <a class="navbar-brand" href="{{ home }}">
          <img alt="Logo" src="{{ logo }}">
        </a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler collapsed" data-target="#navbarCollapse" data-toggle="collapse"
                type="button">
                    <span class="navbar-toggler-icon">
                        <svg viewBox="0 0 20 15" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.000,1.000 L14.000,1.000 " fill="none" fill-rule="evenodd"
                                  stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2px"></path>
                            <path d="M2.000,6.000 L18.000,6.000 " fill="none" fill-rule="evenodd"
                                  stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2px"></path>
                            <path d="M2.000,11.000 L14.000,11.000 " fill="none" fill-rule="evenodd"
                                  stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2px"></path>
                        </svg>
                    </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
            {% if language %}
              <div class="nav-item" id="lang">
                {{ language }}
              </div>
            {% endif %}
            <div class="nav-item dropright categories-header">
              <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                 href="#"
                 role="button">
                {{ catalog.title }}
              </a>
              <div class="dropdown-menu">
                <div class="dropdown-item dropright">
                  <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle back"
                     data-toggle="dropdown"
                     href="#"
                     role="button">
                    Inapoi la Meniu
                  </a>
                </div>
                {% for catalog_item in catalog.children %}
                  <div class="dropdown-item dropright">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle catalog-item"
                       data-toggle="dropdown"
                       href="{{ catalog_item.link }}" role="button">
                      <div class="image-container">
                        {% if catalog_item.image_svg %}
                          {{ catalog_item.image_svg }}
                        {% else %}
                          {% if catalog_item.image %}
                            <img src="{{ catalog_item.image }}" alt="{{ catalog_item.title }}">
                          {% endif %}
                        {% endif %}
                      </div>
                      <span>{{ catalog_item.title }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-submenu">
                      <div class="dropdown-item dropright">
                        <a aria-expanded="true" aria-haspopup="true"
                           class="nav-link dropdown-toggle back back-category"
                           data-toggle="dropdown"
                           href="{{ catalog_item.link }}">
                          {{ catalog_item.title }}
                        </a>
                      </div>
                      {% import _self as slideshow %}
                      {{ slideshow.catalog_links(catalog_tree, 1, catalog_item.item) }}
                      {% macro catalog_links(items, menu_level, parent_id) %}
                        {% import _self as slide %}
                        {% for category in items %}
                          {% if category.parent_id == parent_id %}
                            {% if menu_level == 1 %}
                              {% set flag = 0 %}
                              {% for item in items if item.depth == 2 and item.parent_id == category.category_id %}
                                {% set flag = 1 %}
                              {% endfor %}
                              <div class="dropdown-item dropdown">
                                <a class="nav-link{% if flag %} dropdown-toggle{% endif %}"
                                        {% if flag %}
                                          aria-expanded="false" aria-haspopup="true"
                                          data-toggle="dropdown"
                                        {% endif %}
                                   href="{{ category.href }}">
                                  {{ category.name }}
                                </a>
                                {% if flag %}
                                  <div class="dropdown-menu dropdown-submenu">
                                    {{ slide.catalog_links(items, 2, category.category_id) }}
                                  </div>
                                {% endif %}
                              </div>
                            {% endif %}
                            {% if menu_level == 2 %}
                              <a href="{{ category.href }}" class="dropdown-item">{{ category.name }}</a>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      {% endmacro %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            {{ pavmegamenu }}
          </div>
        </div>
        {{ search }}
        <div class="nav-button" id="profile">
          <div class="dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
               href="{{ account }}"
               role="button">
              <svg baseProfile="tiny" height="21" version="1.2" viewBox="0 0 21 21" width="21"
                   xml:space="preserve"
                   xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5,1C13,1,15,3.1,15,5.5S13,10,10.5,10S6,8,6,5.5S8,1,10.5,1z" fill="none"
                                      stroke-width="2"></path>
                <path d="M1,21c0-4.7,4.3-8.5,9.5-8.5S20,16.3,20,21" fill="none" stroke-width="2"></path>
                            </svg>
              <span>{{ text_account }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              {% if logged %}
                <a class="dropdown-item" href="{{ account }}">{{ text_account }}</a>
                <a class="dropdown-item" href="{{ order }}">{{ text_order }}</a>
                <a class="dropdown-item" href="{{ logout }}">{{ text_logout }}</a>
              {% else %}
                <a class="dropdown-item" href="{{ login }}">{{ text_login }}</a>
                <a class="dropdown-item" href="{{ register }}">{{ text_register }}</a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="nav-button" id="compare">
          <a href="{{ compare }}">
            <svg height="28px" viewBox="5 -5 22 30" width="35px" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.500,1.000 C15.747,1.000 20.000,5.253 20.000,10.500 C20.000,15.747 15.747,20.000 10.500,20.000 C5.253,20.000 1.000,15.747 1.000,10.500 C1.000,5.253 5.253,1.000 10.500,1.000 Z"
                    fill="none" fill-rule="evenodd"
                    stroke-width="2px"></path>
              <path d="M18.500,1.000 C23.747,1.000 28.000,5.253 28.000,10.500 C28.000,15.747 23.747,20.000 18.500,20.000 C13.253,20.000 9.000,15.747 9.000,10.500 C9.000,5.253 13.253,1.000 18.500,1.000 Z"
                    fill="none" fill-rule="evenodd"
                    stroke-dasharray="1, 4" stroke-linecap="round"
                    stroke-width="2px"></path>
            </svg>
            <span class="quantity {% if compare_count == 0 %} d-none{% endif %}">{{ compare_count }}</span>
            <span>Comparație</span>
          </a>
        </div>
        <div class="nav-button" id="favorite">
          <a id="wishlist-total" title="{{ text_wishlist }}" href="{{ wishlist }}">
            <svg height="20" viewBox="0 0 23 24" width="20" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.500,1.000 L14.960,7.285 L21.999,8.640 L17.099,13.878 L17.989,20.999 L11.500,17.952 L5.011,20.999 L5.901,13.878 L1.001,8.640 L8.039,7.285 L11.500,1.000 "
                    fill="none" fill-rule="evenodd"
                    stroke-width="2px"></path>
            </svg>
            <span class="quantity {% if wishlist_count == 0 %} d-none{% endif %}">{{ wishlist_count }}</span>
            <span>Favorite</span>
          </a>
        </div>
        <div class="nav-button" id="cart">
          <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
             href="#" role="button">
            <img alt="Cart" src="/catalog/view/theme/simplex/assets/img/cart.svg">
            <span id="cart-total" class="quantity">{{ cart_count }}</span>
          </a>
          {{ cart }}
        </div>
        <div class="phone">
          <a class="tel dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
             href="#"
             role="button"><span>{{ telephone }}</span></a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="timetable">
              <table>
                <tr>
                  <td>Luni - Vineri</td>
                  <td>08:00 - 18:00</td>
                </tr>
                <tr>
                  <td>Simbata</td>
                  <td>08:00 - 16:00</td>
                </tr>
                <tr>
                  <td>Duminica</td>
                  <td>zi libera</td>
                </tr>
              </table>
            </div>
            <div class="input-telephone">
              <h6>{{ text_phone_callback }}</h6>
              <label><input placeholder="Telefonul dvs." type="text"></label>
              <button type="submit">
                Sunaţi înapoi
                <span class="image-container"></span>
              </button>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
