{{ header }}
<main>
  <div class="container-fluid">
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        {% if loop.first %}
          <li>
            <a href="{{ breadcrumb.href }}">
              <img class="lazyload" alt="Home" data-src="/catalog/view/theme/simplex/assets/img/home.svg">
            </a>
          </li>
        {% elseif loop.last %}
          <li>{{ breadcrumb.text }}</li>
        {% else %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <div class="page-title">
      <h1>{{ heading_title }}</h1>
    </div>
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i
                class="fa fa-exclamation-circle">{{ error_message }}</i> {{ error_warning }}</div>
    {% endif %}
    <div id="account">
      <div class="card">
        <h6 style="font-weight: 700">{{ text_email }}</h6>
        <div id="account-form">
          <form action="{{ action }}" method="post" enctype="multipart/form-data">
            <label class="required" for="input-email">{{ entry_email }}</label>
            <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}"
                   id="input-email" required>
            <div class="submit">
              <button class="form-submit" type="submit">
                {{ button_continue }}<span class="image-container"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{ content_bottom }}
</main>
{{ footer }}