{{ header }}
<main>
    <div class="container-fluid">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if loop.first %}
                    <li><a href="{{ breadcrumb.href }}"><img alt="Home"
                                                             src="catalog/view/theme/simplex/assets/img/home.svg"></a>
                    </li>
                {% else %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="page-title" id="wishlist">
            <h1>{{ heading_title }}</h1>
        </div>
        <div id="cart-wrapper">
            <a class="delete-all" role="button">Sterge toate</a>
            {% if attention %}
                <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}
            {% if success %}
                <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}
            {% if error_warning %}
                <div class="alert alert-danger alert-dismissible"><i
                            class="fa fa-exclamation-circle"></i> {{ error_warning }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}
            <div class="cards">
                {{ content_top }}
            </div>
            <div class="cart-table">
                <table>
                    <thead>
                    <tr>
                        <th class="image">{{ column_image }}</th>
                        <th>{{ column_name }}</th>
                        <th class="price">{{ column_price }}</th>
                        <th class="multiply"></th>
                        <th class="quantity">{{ column_quantity }}</th>
                        <th class="equal"></th>
                        <th class="total">{{ column_total }}</th>
                        <th class="delete"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td class="image">{% if product.thumb %} <a href="{{ product.href }}"><img
                                            src="{{ product.thumb }}" alt="{{ product.name }}"
                                            title="{{ product.name }}"></a> {% endif %}</td>
                            <td>
                                <a href="{{ product.href }}">{{ product.name }}</a>
                                {% if product.option %}
                                    {% for option in product.option %} <br/>
                                        <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
                                {% endif %}
                            </td>
                            <td class="price">{{ product.price }}</td>
                            <td class="multiply"><span>x</span></td>
                            <td class="quantity"><label><input type="number" id="quantity"
                                                               name="quantity[{{ product.cart_id }}]"
                                                               value="{{ product.quantity }}" max="100" min="1" step="1"
                                                               size="1"></label></td>
                            <td class="equal"><span>=</span></td>
                            <td class="total">{{ product.total }}</td>
                            <td class="delete">
                                <a role="button" title="{{ button_remove }}"
                                   onclick="cart.remove('{{ product.cart_id }}');">
                                    <svg height="14px" width="18px" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.877,10.113 L2.076,1.000 " fill="none" fill-rule="evenodd"
                                              stroke="rgb(178, 181, 182)" stroke-linecap="butt" stroke-linejoin="miter"
                                              stroke-width="2px"></path>
                                        <path d="M2.076,10.113 L14.877,1.000 " fill="none" fill-rule="evenodd"
                                              stroke="rgb(178, 181, 182)" stroke-linecap="butt" stroke-linejoin="miter"
                                              stroke-width="2px"></path>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6" style="text-align: right"><span>Sub-Total</span></td>
                        <td colspan="2">
                            <h5 style="margin-bottom: 0;">26 600.-
                                <small style="font-size: .625rem;font-weight: 500;">MDL</small>
                            </h5>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            {% if modules %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>{{ text_next }}</h5>
                        <label>
                            <input checked="checked" name="payment_address" type="radio" value="ridicare">
                            Ridicare din magazin</label>
                        <label>
                            <input name="payment_address" type="radio" value="livrare">
                            Livrare</label>
                    </div>
                    {% for module in modules %}
                        {{ module }}
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>
    <hr>
    <div id="about-us">
        <div class="container-fluid">
            <div class="cards">
                <div class="mini-card">
                    <div class="image-container">
                        <img alt="" src="catalog/view/theme/simplex/assets/img/minicard1.png">
                    </div>
                    <p>Branduri celebre, calitate recunoscută</p>
                </div>
                <div class="mini-card">
                    <div class="image-container">
                        <img alt="" src="catalog/view/theme/simplex/assets/img/minicard2.png">
                    </div>
                    <p>Garanție la toate produsele</p>
                </div>
                <div class="mini-card">
                    <div class="image-container">
                        <img alt="" src="catalog/view/theme/simplex/assets/img/minicard3.png">
                    </div>
                    <p>Tot ce aveți nevoie într-un singur loc</p>
                </div>
                <div class="mini-card">
                    <div class="image-container">
                        <img alt="" src="catalog/view/theme/simplex/assets/img/minicard4.png">
                    </div>
                    <p>Consultanța tehnică competentă</p>
                </div>
                <div class="mini-card">
                    <div class="image-container">
                        <img alt="" src="catalog/view/theme/simplex/assets/img/minicard5.png">
                    </div>
                    <p>Livrare atentă a doua zi</p>
                </div>
            </div>
        </div>
    </div>
    <div id="subscribe">
        <div class="container-fluid">
            <form action="#" id="abonate">
                <label for="email"><p>Subscrieţi! Produse noi, reduceri, oferte!</p></label>
                <input id="email" placeholder="Adresa dvs. e-mail" type="email">
                <button type="submit">
                    Subscrieţi la newsletter
                    <span class="image-container"></span>
                </button>
            </form>
        </div>
    </div>
</main>
{{ footer }} 