{{ header }}
<main>
    <div class="container-fluid">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                    {% if loop.first %}
                        <li><a href="{{ breadcrumb.href }}"><img alt="Home"
                                                                 src="catalog/view/theme/simplex/assets/img/home.svg"></a>
                        </li>
                    {% elseif loop.last %}
                        <li>{{ breadcrumb.text }}</li>
                    {% else %}
                        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
        </ul>
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i
                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="page-title">
            <h1>{{ heading_title }}</h1>
        </div>
        <div id="checkout">
            <div class="card">
                <div class="card-header waiting" id="headingCheckoutOption">
                    <h4>
                        {{ text_checkout_option }}
                    </h4>
                </div>
                <div aria-labelledby="headingCheckoutOption" class="collapse" data-parent="#checkout"
                     id="checkout-option">
                </div>
            </div>
            {% if not logged and account != 'guest' %}
                <div class="card">
                    <div class="card-header waiting" id="headingPaymentAddress">
                        <h4>
                            {{ text_checkout_account }}
                        </h4>
                    </div>
                    <div aria-labelledby="headingPaymentAddress" class="collapse" data-parent="#checkout"
                         id="payment-address">
                    </div>
                </div>
            {% else %}
                <div class="card">
                    <div class="card-header waiting" id="headingPaymentAddress">
                        <h4>
                            {{ text_checkout_payment_address }}
                        </h4>
                    </div>
                    <div aria-labelledby="headingPaymentAddress" class="collapse" data-parent="#checkout"
                         id="payment-address">
                    </div>
                </div>
            {% endif %}
            {% if shipping_required %}
                <div class="card">
                    <div class="card-header waiting" id="headingShippingAddress">
                        <h4>
                            {{ text_checkout_shipping_address }}
                        </h4>
                    </div>
                    <div aria-labelledby="headingShippingAddress" class="collapse" data-parent="#checkout"
                         id="shipping-address">
                    </div>
                </div>
                <div class="card">
                    <div class="card-header waiting">
                        <h4>
                            {{ text_checkout_shipping_method }}
                        </h4>
                    </div>
                    <div aria-labelledby="headingShippingAddress" class="collapse" data-parent="#checkout"
                         id="shipping-method">
                    </div>
                </div>
            {% endif %}
            <div class="card">
                <div class="card-header waiting">
                    <h4>
                        {{ text_checkout_payment_method }}
                    </h4>
                </div>
                <div aria-labelledby="headingShippingAddress" class="collapse" data-parent="#checkout"
                     id="payment-method">
                </div>
            </div>
            <div class="card">
                <div class="card-header waiting">
                    <h4>
                        {{ text_checkout_confirm }}
                    </h4>
                </div>
                <div aria-labelledby="headingShippingAddress" class="collapse" data-parent="#checkout"
                     id="checkout-confirm">
                </div>
            </div>
        </div>
    </div>
    {{ content_bottom }}
</main>


<script type="text/javascript"><!--
    $(document).on('change', 'input[name=\'account\']', function () {
        if ($('#payment-address').parent().find('.card-header h4 > *').is('button')) {
            if (this.value == 'register') {
                $('#payment-address').parent().find('.card-header h4').html('<button aria-controls="checkout-option" aria-expanded="false" data-target="#checkout-option" data-toggle="collapse" type="button">{{ text_checkout_account }} </button>');
            } else {
                $('#payment-address').parent().find('.card-header h4').html('<button aria-controls="checkout-option" aria-expanded="false" data-target="#checkout-option" data-toggle="collapse" type="button">{{ text_checkout_payment_address }} </button>');
            }
        } else {
            if (this.value == 'register') {
                $('#payment-address').parent().find('.card-header h4').html('{{ text_checkout_account }}');
            } else {
                $('#payment-address').parent().find('.card-header h4').html('{{ text_checkout_payment_address }}');
            }
        }
    });

    {% if not logged %}
    $(document).ready(function () {
        $.ajax({
            url: 'index.php?route=checkout/login',
            dataType: 'html',
            success: function (html) {
                $('#checkout-option').html(html).parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="checkout-option" aria-expanded="false" data-target="#checkout-option" data-toggle="collapse" type="button">{{ text_checkout_option }} </button>');

                $('button[data-target=\'#checkout-option\']').trigger('click');

                $('input[type="radio"]').after('<span class="radio"></span>');
                $('input[type="checkbox"]').after('<span class="checkbox"></span>');
                $('input[type=radio]:checked, input[type=checkbox]:checked').parent().addClass('semi-bold');
                $('input[type=radio]').click(function () {
                    $(this).parent("form").find('.form-element').css('display', 'none');
                    $('input[type=radio]').parent().removeClass('semi-bold');
                    $(this).parent().addClass('semi-bold');
                    $('#' + $(this).attr('value')).css('display', 'block');
                });
                $('input[type=checkbox]').click(function () {
                    $(this).parent().toggleClass('semi-bold');
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    {% else %}
    $(document).ready(function () {
        $.ajax({
            url: 'index.php?route=checkout/payment_address',
            dataType: 'html',
            success: function (html) {
                $('#payment-address').html(html).parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="payment-address" aria-expanded="false" data-target="#payment-address" data-toggle="collapse" type="button">{{ text_checkout_payment_address }} </button>');
                $('#checkout-option').parent().find('.card-header').removeClass('waiting').addClass('success');
                $('button[data-target=\'#payment-address\']').trigger('click');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    {% endif %}

    // Checkout
    $(document).delegate('#button-account', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/' + $('input[name=\'account\']:checked').val(),
            dataType: 'html',
            beforeSend: function () {
                $('#button-account').button('loading');
            },
            complete: function () {
                $('#button-account').button('reset');
            },
            success: function (html) {
                $('.alert-dismissible, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                $('#payment-address').html(html);

                if ($('input[name=\'account\']:checked').val() == 'register') {
                    $('#payment-address').parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="payment-address" aria-expanded="false" data-target="#payment-address" data-toggle="collapse" type="button">{{ text_checkout_account }} </button>');
                } else {
                    $('#payment-address').parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="payment-address" aria-expanded="false" data-target="#payment-address" data-toggle="collapse" type="button">{{ text_checkout_payment_address }} </button>');
                }

                $('#checkout-option').parent().find('.card-header').addClass('success');

                $('button[data-target=\'#payment-address\']').trigger('click');


                $('input[type="radio"]').after('<span class="radio"></span>');
                $('input[type="checkbox"]').after('<span class="checkbox"></span>');
                $('input[type=radio]:checked, input[type=checkbox]:checked').parent().addClass('semi-bold');
                $('input[type=radio]').click(function () {
                    $(this).parent("form").find('.form-element').css('display', 'none');
                    $('input[type=radio]').parent().removeClass('semi-bold');
                    $(this).parent().addClass('semi-bold');
                    $('#' + $(this).attr('value')).css('display', 'block');
                });
                $('input[type=checkbox]').click(function () {
                    $(this).parent().toggleClass('semi-bold');
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    // Login
    $(document).delegate('#button-login', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/login/save',
            type: 'post',
            data: $('#checkout-option :input'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-login').button('loading');
            },
            complete: function () {
                $('#button-login').button('reset');
            },
            success: function (json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    $('#checkout-option .card-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle">{{ error }}</i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                    // Highlight any found errors
                    $('input[name=\'email\']').parent().addClass('has-error');
                    $('input[name=\'password\']').parent().addClass('has-error');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    // Register
    $(document).delegate('#button-register', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/register/save',
            type: 'post',
            data: $('#payment-address input[type=\'text\'], #payment-address input[type=\'date\'], #payment-address input[type=\'datetime-local\'], #payment-address input[type=\'time\'], #payment-address input[type=\'password\'], #payment-address input[type=\'hidden\'], #payment-address input[type=\'checkbox\']:checked, #payment-address input[type=\'radio\']:checked, #payment-address textarea, #payment-address select'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-register').button('loading');
            },
            success: function (json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    $('#button-register').button('reset');

                    if (json['error']['warning']) {
                        $('#payment-address .card-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle">{{ error }}</i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    }

                    for (i in json['error']) {
                        var element = $('#input-payment-' + i.replace('_', '-'));

                        $(element).attr('placeholder', json['error'][i]);

                        // Highlight any found errors
                        $(element).parent().addClass('has-error');
                    }

                } else {
                    {% if shipping_required %}
                    var shipping_address = $('#payment-address input[name=\'shipping_address\']:checked').prop('value');

                    if (shipping_address) {
                        $.ajax({
                            url: 'index.php?route=checkout/shipping_method',
                            dataType: 'html',
                            success: function (html) {
                                // Add the shipping address
                                $.ajax({
                                    url: 'index.php?route=checkout/shipping_address',
                                    dataType: 'html',
                                    success: function (html) {
                                        $('#shipping-address').html(html).parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="shipping-address" aria-expanded="true" data-target="#shipping-address" data-toggle="collapse" type="button">{{ text_checkout_shipping_address }} </button>');
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                    }
                                });
                                $('#shipping-method').html(html).parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="shipping-address" aria-expanded="true" data-target="#shipping-method" data-toggle="collapse" type="button">{{ text_checkout_shipping_method }} </button>');

                                $('button[data-target=\'#shipping-method\']').trigger('click');

                                $('#shipping-method').parent().find('.card-header h4').html('{{ text_checkout_shipping_method }}');
                                $('#payment-method').parent().find('.card-header h4').html('{{ text_checkout_payment_method }}');
                                $('#checkout-confirm').parent().find('.card-header h4').html('{{ text_checkout_confirm }}');
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    } else {
                        $.ajax({
                            url: 'index.php?route=checkout/shipping_address',
                            dataType: 'html',
                            success: function (html) {
                                $('#shipping-address').html(html).parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="shipping-address" aria-expanded="true" data-target="#shipping-address" data-toggle="collapse" type="button">{{ text_checkout_shipping_address }} </button>');

                                $('#headingShippingAddress button').trigger('click');

                                $('#shipping-method').parent().find('.card-header h4').html('{{ text_checkout_shipping_method }}');
                                $('#payment-method').parent().find('.card-header h4').html('{{ text_checkout_payment_method }}');
                                $('#checkout-confirm').parent().find('.card-header h4').html('{{ text_checkout_confirm }}');
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    }
                    {% else %}
                    $.ajax({
                        url: 'index.php?route=checkout/payment_method',
                        dataType: 'html',
                        success: function (html) {
                            $('#payment-method').html(html).parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="payment-method" aria-expanded="false" data-target="#payment-method" data-toggle="collapse" type="button" class="collapsed">{{ text_checkout_payment_method }} </button>');

                            $('button[data-target=\'#payment-method\']').trigger('click');

                            $('#checkout-confirm').parent().find('.card-header h4').html('{{ text_checkout_confirm }}');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                    {% endif %}

                    $.ajax({
                        url: 'index.php?route=checkout/payment_address',
                        dataType: 'html',
                        complete: function () {
                            $('#button-register').button('reset');
                        },
                        success: function (html) {
                            $('#payment-address').html(html).parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="payment-address" aria-expanded="false" data-target="#payment-address" data-toggle="collapse" type="button" class="collapsed">{{ text_checkout_payment_address }} </button>');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    // Payment Address
    $(document).delegate('#button-payment-address', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/payment_address/save',
            type: 'post',
            data: $('#payment-address input[type=\'text\'], #payment-address input[type=\'date\'], #payment-address input[type=\'datetime-local\'], #payment-address input[type=\'time\'], #payment-address input[type=\'password\'], #payment-address input[type=\'checkbox\']:checked, #payment-address input[type=\'radio\']:checked, #payment-address input[type=\'hidden\'], #payment-address textarea, #payment-address select'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-payment-address').button('loading');
            },
            complete: function () {
                $('#button-payment-address').button('reset');
            },
            success: function (json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    if (json['error']['warning']) {
                        $('#payment-address .card-body').prepend('<div class="alert alert-warning alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    }

                    for (i in json['error']) {
                        var element = $('#input-payment-' + i.replace('_', '-'));

                        $(element).attr('placeholder', json['error'][i]);

                        // Highlight any found errors
                        $(element).parent().addClass('has-error');
                    }
                } else {
                    {% if shipping_required %}
                    $.ajax({
                        url: 'index.php?route=checkout/shipping_address',
                        dataType: 'html',
                        success: function (html) {
                            $('#shipping-address').html(html).parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="shipping-address" aria-expanded="true" data-target="#shipping-address" data-toggle="collapse" type="button">{{ text_checkout_shipping_address }} <i class="fa fa-caret-down"></i></a>');

                            $('#headingShippingAddress button').trigger('click');

                            $('#shipping-method').parent().find('.card-header h4').html('{{ text_checkout_shipping_method }}');
                            $('#payment-method').parent().find('.card-header h4').html('{{ text_checkout_payment_method }}');
                            $('#checkout-confirm').parent().find('.card-header h4').html('{{ text_checkout_confirm }}');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    }).done(function () {
                        $.ajax({
                            url: 'index.php?route=checkout/payment_address',
                            dataType: 'html',
                            success: function (html) {
                                $('#payment-address').html(html).parent().find('.card-header').addClass('success');
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    });
                    {% else %}
                    $.ajax({
                        url: 'index.php?route=checkout/payment_method',
                        dataType: 'html',
                        success: function (html) {
                            $('#payment-method').html(html).parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="payment-method" aria-expanded="false" data-target="#payment-method" data-toggle="collapse" type="button" class="collapsed">{{ text_checkout_payment_method }} </button>');

                            $('button[data-target=\'#payment-method\']').trigger('click');

                            $('#checkout-confirm').parent().find('.card-header h4').html('{{ text_checkout_confirm }}');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    }).done(function () {
                        $.ajax({
                            url: 'index.php?route=checkout/payment_address',
                            dataType: 'html',
                            success: function (html) {
                                $('#payment-address').parent().find('.card-header').addClass('success');
                                $('#payment-address').html(html);
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    });
                    {% endif %}
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    // Shipping Address
    $(document).delegate('#button-shipping-address', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/shipping_address/save',
            type: 'post',
            data: $('#shipping-address input[type=\'text\'], #shipping-address input[type=\'date\'], #shipping-address input[type=\'datetime-local\'], #shipping-address input[type=\'time\'], #shipping-address input[type=\'password\'], #shipping-address input[type=\'checkbox\']:checked, #shipping-address input[type=\'radio\']:checked, #shipping-address textarea, #shipping-address select'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-shipping-address').button('loading');
            },
            success: function (json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    $('#button-shipping-address').button('reset');

                    if (json['error']['warning']) {
                        $('#shipping-address').prepend('<div class="alert alert-warning alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    }

                    for (i in json['error']) {
                        var element = $('#input-payment-' + i.replace('_', '-'));

                        $(element).attr('placeholder', json['error'][i]);

                        // Highlight any found errors
                        $(element).parent().addClass('has-error');
                    }
                } else {
                    $.ajax({
                        url: 'index.php?route=checkout/shipping_method',
                        dataType: 'html',
                        complete: function () {
                            $('#button-shipping-address').button('reset');
                        },
                        success: function (html) {
                            $('#shipping-method').html(html).parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="shipping-method" aria-expanded="false" data-target="#shipping-method" data-toggle="collapse" type="button" class="collapsed">{{ text_checkout_shipping_method }} </button>');

                            $('button[data-target=\'#shipping-method\']').trigger('click');

                            $('#payment-method').parent().find('.card-header h4').html('{{ text_checkout_payment_method }}');
                            $('#checkout-confirm').parent().find('.card-header h4').html('{{ text_checkout_confirm }}');

                            $.ajax({
                                url: 'index.php?route=checkout/shipping_address',
                                dataType: 'html',
                                success: function (html) {
                                    $('#shipping-address').html(html);
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                }
                            });
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    }).done(function () {
                        $.ajax({
                            url: 'index.php?route=checkout/payment_address',
                            dataType: 'html',
                            success: function (html) {
                                $('#shipping-address').parent().find('.card-header').addClass('success');
                                $('#payment-address').html(html);
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    // Guest
    $(document).delegate('#button-guest', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/guest/save',
            type: 'post',
            data: $('#payment-address input[type=\'text\'], #payment-address input[type=\'date\'], #payment-address input[type=\'datetime-local\'], #payment-address input[type=\'time\'], #payment-address input[type=\'checkbox\']:checked, #payment-address input[type=\'radio\']:checked, #payment-address input[type=\'hidden\'], #payment-address textarea, #payment-address select'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-guest').button('loading');
            },
            success: function (json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    $('#button-guest').button('reset');

                    if (json['error']['warning']) {
                        $('#payment-address .card-body').prepend('<div class="alert alert-warning alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    }

                    for (i in json['error']) {
                        var element = $('#input-payment-' + i.replace('_', '-'));

                        $(element).attr('placeholder', json['error'][i]);

                        // Highlight any found errors
                        $(element).parent().addClass('has-error');
                    }
                } else {
                    {% if shipping_required %}
                    var shipping_address = $('#payment-address input[name=\'shipping_address\']:checked').prop('value');

                    if (shipping_address) {
                        $.ajax({
                            url: 'index.php?route=checkout/shipping_method',
                            dataType: 'html',
                            complete: function () {
                                $('#button-guest').button('reset');
                            },
                            success: function (html) {
                                // Add the shipping address
                                $.ajax({
                                    url: 'index.php?route=checkout/guest_shipping',
                                    dataType: 'html',
                                    success: function (html) {
                                        $('#payment-address').parent().find('.card-header').addClass('success');
                                        $('#shipping-address').html(html).parent().find('.card-header').removeClass('waiting').addClass('success').find('h4').html('<button aria-controls="shipping-address" aria-expanded="false" data-target="#shipping-address" data-toggle="collapse" type="button">{{ text_checkout_shipping_address }} </button>');
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                    }
                                });
                                $('#shipping-method').html(html).parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="shipping-method" aria-expanded="false" data-target="#shipping-method" data-toggle="collapse" type="button">{{ text_checkout_shipping_method }} </button>');

                                $('button[data-target=\'#shipping-method\']').trigger('click');

                                $('#payment-method').parent().find('.card-header h4').html('{{ text_checkout_payment_method }}');
                                $('#checkout-confirm').parent().find('.card-header h4').html('{{ text_checkout_confirm }}');
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    } else {
                        $.ajax({
                            url: 'index.php?route=checkout/guest_shipping',
                            dataType: 'html',
                            complete: function () {
                                $('#button-guest').button('reset');
                            },
                            success: function (html) {
                                $('#payment-address').parent().find('.card-header').addClass('success');
                                $('#shipping-address').html(html).parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="shipping-address" aria-expanded="true" data-target="#shipping-address" data-toggle="collapse" type="button">{{ text_checkout_shipping_address }} </button>');

                                $('button[data-target=\'#shipping-address\']').trigger('click');

                                $('#shipping-method').parent().find('.card-header h4').html('{{ text_checkout_shipping_method }}');
                                $('#payment-method').parent().find('.card-header h4').html('{{ text_checkout_payment_method }}');
                                $('#checkout-confirm').parent().find('.card-header h4').html('{{ text_checkout_confirm }}');
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    }
                    {% else %}
                    $.ajax({
                        url: 'index.php?route=checkout/payment_method',
                        dataType: 'html',
                        complete: function () {
                            $('#button-guest').button('reset');
                        },
                        success: function (html) {
                            $('#payment-address').parent().find('.card-header').addClass('success');
                            $('#payment-method').html(html).parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="payment-method" aria-expanded="false" data-target="#payment-method" data-toggle="collapse" type="button" class="collapsed">{{ text_checkout_payment_method }} </button>');

                            $('button[data-target=\'#payment-method\']').trigger('click');

                            $('#checkout-confirm').parent().find('.card-header h4').html('{{ text_checkout_confirm }}');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                    {% endif %}
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    // Guest Shipping
    $(document).delegate('#button-guest-shipping', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/guest_shipping/save',
            type: 'post',
            data: $('#shipping-address input[type=\'text\'], #shipping-address input[type=\'date\'], #shipping-address input[type=\'datetime-local\'], #shipping-address input[type=\'time\'], #shipping-address input[type=\'password\'], #shipping-address input[type=\'checkbox\']:checked, #shipping-address input[type=\'radio\']:checked, #shipping-address textarea, #shipping-address select'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-guest-shipping').button('loading');
            },
            success: function (json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    $('#button-guest-shipping').button('reset');

                    if (json['error']['warning']) {
                        $('#shipping-address').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    }

                    for (i in json['error']) {
                        var element = $('#input-payment-' + i.replace('_', '-'));

                        $(element).attr('placeholder', json['error'][i]);

                        // Highlight any found errors
                        $(element).parent().addClass('has-error');
                    }
                } else {
                    $.ajax({
                        url: 'index.php?route=checkout/shipping_method',
                        dataType: 'html',
                        complete: function () {
                            $('#button-guest-shipping').button('reset');
                        },
                        success: function (html) {
                            $('#shipping-address').parent().find('.card-header').addClass('success');
                            $('#shipping-method').html(html).parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="shipping-method" aria-expanded="false" data-target="#shipping-method" data-toggle="collapse" type="button" class="collapsed">{{ text_checkout_shipping_method }} </button>');

                            $('button[data-target=\'#shipping-method\']').trigger('click');

                            $('#payment-method').parent().find('.card-header h4').html('{{ text_checkout_payment_method }}');
                            $('#checkout-confirm').parent().find('.card-header h4').html('{{ text_checkout_confirm }}');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $(document).delegate('#button-shipping-method', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/shipping_method/save',
            type: 'post',
            data: $('#shipping-method input[type=\'radio\']:checked, #shipping-method textarea'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-shipping-method').button('loading');
            },
            success: function (json) {
                $('.alert-dismissible, .text-danger').remove();

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    $('#button-shipping-method').button('reset');

                    if (json['error']['warning']) {
                        $('#shipping-method .card-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    }
                } else {
                    $.ajax({
                        url: 'index.php?route=checkout/payment_method',
                        dataType: 'html',
                        complete: function () {
                            $('#button-shipping-method').button('reset');
                        },
                        success: function (html) {
                            $('#shipping-method').parent().find('.card-header').addClass('success');
                            $('#payment-method').html(html).parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="payment-method" aria-expanded="false" data-target="#payment-method" data-toggle="collapse" type="button" class="collapsed">{{ text_checkout_payment_method }} </button>');

                            $('button[data-target=\'#payment-method\']').trigger('click');

                            $('#checkout-confirm').parent().find('.card-header h4').html('{{ text_checkout_confirm }}');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $(document).delegate('#button-payment-method', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/payment_method/save',
            type: 'post',
            data: $('#payment-method input[type=\'radio\']:checked, #payment-method input[type=\'checkbox\']:checked, #payment-method textarea'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-payment-method').button('loading');
            },
            success: function (json) {
                $('.alert-dismissible, .text-danger').remove();

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    $('#button-payment-method').button('reset');

                    if (json['error']['warning']) {
                        $('#payment-method .card-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    }
                } else {
                    $.ajax({
                        url: 'index.php?route=checkout/confirm',
                        dataType: 'html',
                        complete: function () {
                            $('#button-payment-method').button('reset');
                        },
                        success: function (html) {
                            $('#payment-method').parent().find('.card-header').addClass('success');
                            $('#checkout-confirm').html(html).parent().find('.card-header').removeClass('waiting').find('h4').html('<button aria-controls="checkout-confirm" aria-expanded="false" data-target="#checkout-confirm" data-toggle="collapse" type="button" class="collapsed">{{ text_checkout_confirm }} <i class="fa fa-caret-down"></i></a>');

                            $('button[data-target=\'#checkout-confirm\']').trigger('click');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    //--></script>
{{ footer }}